<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}" />
    <meta name="description" content="{head.description}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="public/app.css" type="text/css">
    <title>{head.title} | {global.appName}</title>
</head>

<body class="{body.class}">
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo"></a>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="loggedOut" href="/">Signup</a>
                </li>
                <li>
                    <a class="loggedOut" href="/">Login</a>
                </li>
                <li>
                    <a class="loggedIn" href="/">Dashboard</a>
                </li>
                <li>
                    <a class="loggedIn" href="/">Account Settings</a>
                </li>
                <li>
                    <a class="loggedIn" href="/">Logout</a>
                </li>
            </ul>
        </div>
        <div class="content">